@media screen and (max-width: 1024px) {
    p {
        font-size: 1.2em;
    }
}
.mousemove {
    height: 50px;
    width: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
html, body {
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
}
head{
    background-color: white;
}
header {
    background-image: url(imageetlogo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: contain;
    background-color: white;
    padding : 2em;
    padding :0px;;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0;
}
body{
    background-image: url(nuagedegrade.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 50% 50%;
    padding : 10px;
    width: 100%;
    height: 200px;
    background: top 0;
    overflow-x: hidden;
}
.rechercher{
    color:black;
    font-weight: bold;
    font-style: initial;
    float: right;
    margin-right: 0;
    position: scroll;
}
logo {
    position: sticky;
}
nav {
    position: fixed;
    font-size: 15px;
    height: 110px;
    top: -150px;
    display: grid;
    text-align: center;
    width: 100%;
    top: -250px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    transition: 0.25s ease;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 6, 100px;
    grid-template-rows:  80px;
    gap: 50px;
}
nav ul li {
    list-style: none;
    float: left;
    flex: auto; 
    /* centrer la barre de navigation */
    }
ul li {
    text-align: center;
}
ul {
    display: flex;    
    flex-direction: row; 
    list-style: none;
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    margin: 0;
}
li{
    float: center;
    display: block;
    align-items: center;
    margin: auto;
    color: black;
    height: 80px;
    text-align: center;    
    text-decoration: none;
    border-radius: 20px;
    border-color: black;
    border-width: 3px;
    border-style: dashed;
    background: linear-gradient(#F98BE9, #00FFFF, #FFFF38, #F98BE9, #39E5FA, #C7D5ED)
}
a {
    display: flex;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    color: black;
    font-weight: inherit;
    font-size: 20px;
    /* mise en relief élément barre navigation quand dessus */
}
.active {
    background-color: pink; /* pour que la personne repère sur quel lien elle se trouve */
}
.lienpresentation {
    text-align: left;
    margin-left: 30px;
    line-height: 0cm;
}
.lienpresentation a:hover {
    color: black;
    font-weight: inherit;
    font-size: 20px;
}
.box {
    text-align: center;
    border-radius:20px 20px 20px 20px;
    padding: 100px;
    margin-right: 0px;
    font-size: 25px;
    font-weight: bolder;
    color: #ffcce5;
    border-color: black;
    border-width: 5px;
    border-style: double;
    background-color: rgb(243, 103, 189);
    transition: 0.25 ease;
}
.imgbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.conteneur {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
    gap: 30px;
}
footer {
    background-image: url(imageetlogo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: contain;
    background-color: white;
    padding : 2em;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0;
}