@media screen and (max-width: 1024px) {
    * {
        font-size: 1.2em;
        overflow: auto;
    }
}
@media all and (min-width: 1024px) and (max-width: 1024px) {
    * {
        font-size: 1em;
        overflow: auto;
    }
}
@media all and (orientation: portrait) {
    * {overflow: auto;
    }
}
.mousemove {
    height: 50px;
    width: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
html, body {
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
}
head{
    background-color: white;
}
header {
    background-image: url(imageetlogo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: contain;
    background-color: white;
    padding : 2em;
    padding :0px;;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0;
}
body{
    background-image: url(nuagedegrade.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 50% 50%;
    padding : 10px;
    width: 100%;
    height: 200px;
    background: top 0;
    overflow-x: hidden;
}
/* barre de navigation */
nav {
    position: fixed;
    font-size: 15px;
    display: flex;
    top: -150px;
    transition: 0.25s ease;
    background-color: white;
    cursor: pointer;
}
nav input{
    margin: 30px 0px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    /* enelever la bordure  */
    background-color: #f2f2f2;
}
nav p{
    margin-right: 5px;

}
nav ul li {
    list-style: none;
    /* centrer la barre de navigation */
    }
ul {
    display: flex;  
}
li {    
    box-sizing: border-box;
    border-radius: 100% 100% 0% 0%;
    height: 100px;          
    width: 100px; 
    margin: 0px 60px 0px 15px; 
    position: relative;    
    padding: 10px 0 0 0; 
    background: linear-gradient(#39E5FA, #C7D5ED,#F98BE9, #00FFFF, #FFFF38, #F98BE9, #39E5FA, #C7D5ED);
}
li::before, li::after {
    content: '';
    position: absolute;
    bottom: 0;
    z-index: -1;
    border-radius: 100%;  
}
li::before {
    width: 70px;
    height: 70px;
    left: -45px;
    border-bottom-right-radius: 0;
    background: linear-gradient(#F98BE9, #00FFFF, #FFFF38, #F98BE9, #39E5FA, #C7D5ED);
}
li::after {
    width: 57px;
    height: 57px;
    right: -30px;
    border-bottom-left-radius: 0;
    background: linear-gradient( #00FFFF, #FFFF38, #F98BE9, #39E5FA, #C7D5ED);
}
nav a {
    display: flex;
    color: black;
    vertical-align: middle;
    padding: 25px 10px;
    text-decoration: none;
}
nav a:hover {
    color: black;
    font-weight: inherit;
    font-size: 20px;
    /* mise en relief élément barre navigation quand dessus */
}
nav .lieniconereseaux{
    display: flex;
    flex-wrap: column;
    width: 15%;
    font-size: 15px;
    padding: 2px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
nav .lieniconereseaux a:hover {    
    font-size: 20px;
    font-weight: 20px;
    color: aqua;
}

/* fin barre de navigation */
/* lien de navigation par thème */
.presentationpage {
   display: block;
   text-align: center;
   border-color: black;
   border: 20% black solid;
   border-radius: 20% 20% 20% 20%;
   border-width: 15%;
   border-style: solid;
   padding: 0;
   width: 70%;
}
a {
    text-decoration: none;
    color: black;
}
.lienpresentation:active {
    color: pink;
}
.lienpresentation {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.lienpresentation a:hover {
    color: #39E5FA;
    font-weight: inherit;
    font-size: 20px;
}
/* lien de navigation par thème */
.titrepage {
    text-align: center;
    font-size: 30px;
}
/* section articles */
.main{
    margin: 20px;
    margin-top: 50px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteneur{
    display: flex;
    flex-wrap: wrap;
}
.conteneur .box{
    margin-right: 50px;
    cursor: pointer;
    box-shadow: 10px -10px 15px grey;
    padding-bottom: 10px;
}
.conteneur .box img {
    width: 300px;
}
.conteneur .box .boxfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.conteneur .box .descriptionbox p{
    margin-top: -10px;
}
/* fin section articles */

.iconereseaux{
    display: flex;
    flex-direction: row;
    padding: 3rem 0rem 0rem 3rem;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    margin-left: 3rem;
    gap: 20px;
}
#copyrights {
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    padding: 350px 0px 0px 530px;
}
footer {
    background-image: url(imageetlogo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: contain;
    background-color: white;
    padding : 2em;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0;
}
#imageetlogofooter {
    display: block;
}